@import '~node_modules/modern-normalize/modern-normalize.css';
.container {

	@media (min-width: 30rem) {
		width: 30rem;
	}

	@media (min-width: 48rem) {
		width: 48rem;
	}

	@media (min-width: 75rem) {
		width: 75rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}
.input{
	width: 325px;
	//
	//justify-content: space-between;
	//margin: 0 auto;
	//padding: 0 1.4rem;
//width: auto;

	//display: block;
}
.timer{
	display: flex;
	width: 18rem;
	justify-content:space-between;
}
.field{
	display: block;
	//align-content :justify;
	
	//background-color: aquamarine;
	//font-size: 0.5em;
}
.value{
	display: block;
	//background-color: blue;
	font-weight: 500;
	font-size: 2.5rem;
	//font-family:Arial, Helvetica, sans-serif;

	text-align: center;
	//font: 2em sans-serif;
	//margin: 0 1rem;
}
.label{
	display: block;
	//background-color: brown;
	//font: 1em sans-serif;
	font-size: 0.8rem;
	font-family:Arial, Helvetica, sans-serif ;
	font-weight: 700;
	text-transform: uppercase;
}
body{
	margin: 0 auto;
	background-color: aqua;
	font: 1em sans-serif;
}