@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
	padding-left: 1rem;
		padding-right: 1rem;
		margin-left: auto;
		margin-right: auto;
	
	@media (min-width: 48rem) {
		width: 48rem;
	}

	@media (min-width: 75rem) {
		width: 75rem;
		padding-left: 1rem;
		padding-right: 1rem;
		
	}
}

.input{
	width: 325px;
}

.timer{
	display: flex;
	width: 18rem;
	justify-content:space-between;
}

.field{
	display: block;
}

.value{
	display: block;
	font-weight: 500;
	font-size: 2.5rem;
	text-align: center;
}

.label{
	display: block;
	font-size: 0.8rem;
	font-family:Arial, Helvetica, sans-serif ;
	font-weight: 700;
	text-transform: uppercase;
}
body{
	margin: 0 auto;
	background-color: aqua;
	font: 1em sans-serif;
}

.minSize{
	margin: 0 10px;

	@media (max-width: 48rem) {
		width: 240px;
		margin: 10px auto;
	}
}

.form {
	display: flex;
	@media (max-width: 48rem) {
		display: block;
	}
}

.btnSize {
	min-width: 144px;
	@media (min-width: 48rem){
		margin-top: 27px;
		margin-bottom: 0;
	}
	@media (min-width: 75rem){
		margin: 0 10px;
	}
}